<h1 class='center-align'>Welcome</h1>
<p class='center-align'>to InterView Experience 1.0.0</p>
<p>See what people are asking around the world!
  Got an answer to sombody's question go ahead answer it,
  Got one
  yourselves go ahead ask it like everybody else is!!

  <br><br><br>
  ----> Sign Up today!
</p>
{{#if user}}
{{else}}
<div class="center-align">
  <a class='btn blue darken-1' href="/users/login"><i class="fa fa-login"></i>Login</a>
  <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
  <a href="/users/register" class='btn green darken-1'><i class="fa fa-register"></i>Register</a>
</div>
{{/if}}