<h1>Edit Question</h1>
<div class="row">
    <form action="/stories/{{story.id}}?_method=PUT" method="post" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title" value="{{story.title}}">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select name="status">
                    {{#select story.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    <option value="unpublished">Unpublished</option>
                    {{/select}}
                </select>
                <label for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <p>
                <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box"
                    {{#if story.allowComments}} checked="checked" {{/if}}>
                <label for="filled-in-box">Allow Answers</label>
            </p>
        </div>
        <div class="row">
            <input type="checkbox" name="ds" id="ds" class='filled-in' {{#if story.allowDs}} checked="checked" {{/if}}>
            <label for="ds">Data-Structures</label>

            <input type="checkbox" name="java" id="java" class='filled-in' {{#if story.allowJava}} checked="checked"
                {{/if}}>
            <label for="java">JAVA</label>

            <input type="checkbox" name="cpp" id="cpp" class='filled-in' {{#if story.allowCpp}} checked="checked"
                {{/if}}>
            <label for="cpp">C++</label>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Ask your Question:</h5>
                <textarea name="body">{{story.body}}</textarea>
            </div>
        </div>

        <input type="submit" value="Save" class="btn">
    </form>
</div>